<div class="login-wrapper">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Iniciar Sesión</mat-card-title>
      <mat-card-subtitle>Bienvenido, por favor ingresa tus datos</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Nombre de Usuario</mat-label>
          <input matInput type="text" formControlName="NombreUsuario">
          <mat-error *ngIf="campoNoValidado('NombreUsuario')">El usuario es obligatorio.</mat-error>
          <mat-icon matSuffix>Usuario</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="Password">
          <mat-error *ngIf="campoNoValidado('Password')">La contraseña es obligatoria.</mat-error>
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>

        <p class="forgot-password">
          <a href="/register">Registrate</a>
        </p>

        <button mat-raised-button color="primary" class="full-width-button">Iniciar sesión</button>

      </form>
    </mat-card-content>
  </mat-card>
</div>

<ngx-ui-loader></ngx-ui-loader>
