<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="navigateDashBoard()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Double V Partners</span>
  <span class="example-spacer"></span>

  <button mat-button [matMenuTriggerFor]="menu">Administrar</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="navigateToPersonas()">Personas</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="estadistica">Configuración</button>
  <mat-menu #estadistica="matMenu">
    <button mat-menu-item (click)="navigateToStatistics()">Registrar Usuario</button>
  </mat-menu>

  <button mat-button (click)="closeSesion()">Salir</button>
</mat-toolbar>
