<app-header></app-header>
<div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="mes">
      <th mat-header-cell *matHeaderCellDef> Mes </th>
      <td mat-cell *matCellDef="let element"> {{element.mes}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="cantidad_inmuebles">
      <th mat-header-cell *matHeaderCellDef> Cantidad Inmueble </th>
      <td mat-cell *matCellDef="let element"> {{element.cantidad_inmuebles}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="total_ventas">
      <th mat-header-cell *matHeaderCellDef> Total Ventas </th>
      <td mat-cell *matCellDef="let element"> {{element.total_ventas | currency }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
