<app-header></app-header>
<div class="dashboard">
  <div class="header">
      <h1>Dashboard de Pruebas - Selección de Personal</h1>
      <h2>AIRIS Colombia</h2>
  </div>
  <div class="content">
      <div class="info-panel">
          <h3>Pruebas Técnicas</h3>
          <ul>
              <li>Backend NodeJS y Express: 1</li>
              <li>Frontend Angular: 1</li>
              <li>Base de datos JSON: 1</li>
              <li>Eficiencia de Selección: 100%</li>
          </ul>
      </div>
      <div class="info-panel">
          <h3>Resultados Recientes</h3>
          <ul>
              <li>Sixto José Romero Martínez - Aprobado</li>
              <li>Celular - 302 241 52 23</li>
              <li>Correo - sixto.jose@gmail.com</li>
              <li>Desarrollador de software con más de 12 años de experiencia</li>
          </ul>
      </div>
  </div>
</div>

