<app-header></app-header>
<div class="dashboard">
  <div class="header">
      <h1>Dashboard - Prueba técnica Desarrollador Full Stack</h1>
      <h2>Double V Partners</h2>
  </div>
  <div class="content">
      <div class="info-panel">
          <h3>Pruebas Técnicas</h3>
          <ul>
              <li>Backend ASP.Net Core</li>
              <li>Frontend Angular 15</li>
              <li>Base de datos: SQL Server</li>
              <li>Eficiencia de Selección: 100%</li>
          </ul>
      </div>
      <div class="info-panel">
          <h3>Resultados Recientes</h3>
          <ul>
              <li>Sixto José Romero Martínez - Aprobado</li>
              <li>Celular - 302 241 52 23</li>
              <li>Correo - sixto.jose@gmail.com</li>
              <li>Desarrollador de software con más de 13 años de experiencia</li>
          </ul>
      </div>
  </div>
</div>

